body {
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(rgba(200,200,200,.3), rgba(200,200,200,.3)), url('img/food5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  object-fit: contain;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

#mainContainer {
  margin: 0;
  background: #fff;
}

#searchheader {
  background-color: #252e38;
  padding: 0;
  border-bottom: 1px solid;
  position: fixed;
  /* box-shadow: 0px 0px 40px #ddd; */
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.headerName {
  position: fixed;
  background-color: #252e38;
  height: 100px;
  display: flex;
  width: 100%;
  color: white;
}

.welcomeHeader {
  margin-left: 20px;
}

#logo {
  color: #f2bb10;
  width: 120px;
  font-weight: bold;
  margin: 15px 20px;
  font-size: 18px;
}

#searchbox {
  /* margin-left: 30px; */
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 150px;
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

#searchbar {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
}

#searchBtn {
  width: 50px;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
  outline: none;
  border: 0;
  background-color: #fefefe;
}

#login {
  height: 40px;
  outline: none;
  border: 0;
  margin-left: 150px;
  border-radius: 5px;
  background-color: #f2bb10;
}

#rightMenuContainer {
  float: right;
  width: 19%;
  height: 760px;
  border: 1px dotted grey;
  display: flex;
  float: right;
  flex-direction: column;
  text-align: center;
}

.ingredients p {
  font-size: 15px;
}

.rightMenuBox {
  width: 100%;
  height: 380px;
}
.rightMenuBtn {
  /* display: flex; */
  background-color: #f2bb10;
  cursor: pointer;
  padding: 18px;
  outline: none;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  display: table-cell;
  vertical-align: middle;

  margin-top: 140px;
  /* position: fixed; */
}

.row {
  margin-left: 2.5%;
  width: 75%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-top: 170px;
}

.card {
  text-align: center;
  background-color: rgb(206, 190, 190);
  width: 21%;
  margin: 12px;
  /* border: dotted 1px rgb(71, 70, 70); */
  display: inline-block;
}
.card img {
  width: 66%;
  height: 50%;
  padding-top: 25px
}

#searchbar {
  width: 100%;
}

#mainbody {
  margin: 20px;
  width: 80%;
}

#descriptionContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto;
}

#foodImg {
  grid-area: 1 / col1-start / 2 / 2;
}

#welcome {
  margin-top: 300px;
  margin-bottom: 300px;
  font-size: 100px;
  text-align: center;
  width: 80%;
  display: inline-block;
}

.loginBackground {
  /* background: linear-gradient(rgba(200,200,200,.3), rgba(200,200,200,.3)), url('food5.jpg'); */
  background-color: red;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  object-fit: contain;
  width: 100%;
  height: 100%;
}



.loginSignup {
  background-color: white;
  width: 300px;
  height: 400px;
  text-align: center;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -150px;
  border-radius: 5px;

  -webkit-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  -moz-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
}

.loginSignupHeader {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: #252e38;
  font-size: 34px;
  margin-top: 40px;
}

.textbox {
  width: 200px;
  height: 20px;
  padding-left: 30px;
  border-radius: 5px;
  outline: none;
}

.loginSignupInput {
  background-color: white;
  background-image: url('img/user-logo.png');
  background-size: 28px;
  background-repeat: no-repeat;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  /* border-color: transparent; */
  
  width: 150px;
  height: 20px;
  padding: 5px 30px;
  /* border-radius: 5px; */
  outline: none;
}

.passwordInput {
  background-color: white;
  background-image: url('img/password-logo.png');
  background-size: 28px;
  background-repeat: no-repeat;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  
  width: 150px;
  height: 20px;
  padding: 5px 30px;
  /* border-radius: 5px; */
  outline: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.foodImg {
  width: 100px;
  margin-bottom: 10px;
}

#loginButton, #completeSignup {
  width: 60%;
  height: 30px;
  margin-bottom: 40px;
  border-radius: 30px;
  outline: none;
  background-color: #78BC5B;
  font-size: 12px;
  color: white;
  border: none;
}

#loginButton:hover, #completeSignup:hover {
  background-color: #9F9F9F;
}

.member {
  font-size: 12px;
  /* margin-top: 30px; */
  /* padding: 0; */
}

#signUpButton {
  font-size: 12px;
  color: black;
  text-decoration: underline;
}

#signUpButton:hover {
  color: black;
  cursor: pointer;
}

