body {
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(rgba(200,200,200,.3), rgba(200,200,200,.3)), url('img/food5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-size: 100vw 100vh;
  object-fit: contain;
}

#app {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

#searchheader {
  background: linear-gradient(to bottom, #febd4d 0%, #ffcc99 100%);
  padding: 0;
  position: fixed;
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  -webkit-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  -moz-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
}

.headerName {
  position: fixed;
  background-color: #febd4d;
  height: 100px;
  display: flex;
  width: 100%;
  color: white;
}

.welcomeHeader {
  margin-left: 20px;
}

#searchbox {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 150px;
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
}

#searchbar {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  margin-left: 60px;
}

#searchBtn {
  width: 120px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  outline: none;
  border: 0;
  background-color: #fefefe;
}

.rightLogo {
  padding: 5px;
  margin: 0;
  float: right;
  padding: 5px 30px;
}

#rightMenuContainer {
  float: right;
  width: 19%;
  height: 760px;
  border: 1px dotted grey;
  display: flex;
  float: right;
  flex-direction: column;
  text-align: center;
}

.ingredients p {
  font-size: 15px;
  line-height: 0.5;
}

.nutrition p {
  font-size: 15px;
  line-height: 0.6;
}

.rightMenuBox {
  width: 100%;
  height: 380px;
}
.rightMenuBtn {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  outline: none;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  display: table-cell;
  vertical-align: middle;
  margin-top: 135px;
}

.row {
  margin-left: 2.5%;
  width: 75%;
  height: auto;
  display: inline-block;
  text-align: center;
  margin-top: 170px;
  background-color: white;
  border-radius: 10px;
}

.card {
  text-align: center;
  background-color: rgb(206, 190, 190);
  width: 21%;
  margin: 12px;
  display: inline-block;
}

.card img {
  width: 66%;
  height: 50%;
  padding-top: 25px
}

#searchbar {
  width: 100%;
}

#mainbody {
  margin: 20px 50px;
  width: 80%;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}

#descriptionContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto;
}

#foodImg {
  grid-area: 1 / col1-start / 2 / 2;
}

#welcome {
  margin-top: 300px;
  margin-bottom: 300px;
  font-size: 100px;
  text-align: center;
  width: 80%;
  display: inline-block;
}

.loginSignup {
  background-color: white;
  width: 300px;
  height: 400px;
  text-align: center;
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -200px;
  margin-left: -150px;
  border-radius: 10px;

  -webkit-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  -moz-box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
  box-shadow: 4px 10px 8px -1px rgba(115,115,115,0.68);
}

.loginSignupHeader {
  font-family: 'Roboto', sans-serif;
  color: #252e38;
  font-size: 34px;
  margin-top: 40px;
}

.textbox {
  width: 200px;
  height: 20px;
  padding-left: 30px;
  border-radius: 5px;
  outline: none;
}

.loginSignupInput {
  background-color: white;
  background-image: url('img/user-logo.png');
  background-size: 28px;
  background-repeat: no-repeat;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  
  width: 150px;
  height: 20px;
  padding: 5px 30px;
  outline: none;
}

.passwordInput {
  background-color: white;
  background-image: url(./img/password-logo.png);
  background-size: 28px;
  background-repeat: no-repeat;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
  
  width: 150px;
  height: 20px;
  padding: 5px 30px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 10px;
}

.foodImg {
  width: 100px;
  margin-bottom: 10px;
}

#loginButton, #completeSignup {
  width: 60%;
  height: 30px;
  margin-bottom: 40px;
  border-radius: 30px;
  outline: none;
  background-color: #78BC5B;
  font-size: 12px;
  color: white;
  border: none;
}

#loginButton:hover, #completeSignup:hover, .pageBtn:hover {
  background-color: #9F9F9F;
}

.member {
  font-size: 12px;
}

#signUpButton {
  font-size: 12px;
  color: black;
  text-decoration: underline;
}

#signUpButton:hover {
  color: black;
  cursor: pointer;
}

.pageBtn {
  width: 15%;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  outline: none;
  background-color: #78BC5B;
  font-size: 12px;
  color: white;
  border: none;

}
